html,body{
    margin: 0;
    padding: 0;
}
.parent
{
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.child1
{
    display: flex;
    flex: 1;
    background-color: lightcoral;

}
.child2
{
    display: flex;
    flex: 5;
    background-color: lightgreen;
    justify-content: space-around;
    height: 20vh;
    border: 2px solid grey;
    flex-wrap: wrap;

}
.child1_1
{
    display: flex;
    background-color: lime;
    flex: 4;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
}
.child1_2
{
    display: flex;
    background-color: maroon;
    flex: 1;
    flex-wrap: wrap;
    border: 2px solid grey;

}
.logo
{
    font-size: 100;
    font-style: oblique;
}

.item1{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: maroon;
    border: 2px solid red;
    flex-wrap: wrap;

}
.item2{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: maroon;
    border: 2px solid red;

}
.item3{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: maroon;
    border: 2px solid red;

}
.item4{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: maroon;
    border: 2px solid red;

}
.item5{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: maroon;
    border: 2px solid red;

}
.item6{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: maroon;
    border: 2px solid red;

}
